// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


ul#courses {
    border: 1px solid red;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.course {
    border: 1px solid green;
    flex-basis: 30%;
}

.image {
    max-width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.course_form * {
    display: block;
}

.course_form label {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}